* {margin:0;padding:0;border:0;background:transparent;outline:none;text-decoration:none;font-family: 'Overpass', sans-serif;box-sizing:border-box;}

ol, 
ul, 
li {
  list-style:none;
  display:block;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a img {
  border: none;
}

button,
a{
  cursor: pointer; 
  color: inherit;
}

textarea{
  resize: none;
}

button,
input,
textarea,
select{
  appearance: none !important; 
  -webkit-appearance: none !important; 
  border-radius: 0;
}

header {
  position: sticky;
  top: 0px;
  background-color: #1a24fb;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  color: #f8f7f3;
  border-bottom: 1px solid #f8f7f3;
}

header h1 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
  padding-left: 6px;
}

header button span.menuicon {
  font-size: 24px;
  margin: 6px;
}

header button {
  background-color: #1a24fb
}
