* {margin:0;padding:0;border:0;background:transparent;outline:none;text-decoration:none;font-family: 'Overpass', sans-serif;box-sizing:border-box;}

ol, 
ul, 
li {
  list-style:none;
  display:block;
}

table {
  border-collapse: collapse;
  border-spacing:0;
}

a img {
  border: none;
}

button,
a{
  cursor: pointer; 
  color: inherit;
}

textarea{
  resize: none;
}

button,
input,
textarea,
select{
  appearance: none !important; 
  -webkit-appearance: none !important; 
  border-radius: 0;
}

header {
  position: sticky;
  top: 0px;
  background-color: #1a24fb;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  color: #f8f7f3;
  border-bottom: 1px solid #f8f7f3;
}

header h1 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 400;
  margin: 10px;
}

header button span.menuicon {
  font-size: 24px;
  margin: 5px;
}

header button {
  background-color: #1a24fb;
  height: 38px;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0px 20px;
}

main .container {
  margin-top: 100px;
  position: relative;
  color: #1a24fb;
  max-width: 360px;
}


main .container .card  {
  height: 100%;
  padding: 40px;
  border: 2px solid #1a24fb;
}

main .container .card .index {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: 700;
}

main .container .card h2 {
  min-height: 110px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: .5em;
}

main .container .card .name {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 1em;
  letter-spacing: .2em;
  text-transform: uppercase;
}

main .container .card .text {
  font-size: 16px;
  font-weight: 400;
}

main .container button {
  position: absolute;
  display: flex;
  width: 360px;
  height: 18px;
  align-items: center;
}

main .container button .button-text {
  font-size: 14px;
}

main .container button .arrow {
  font-size: 18px;
}

main .container button:hover {
  background-color: #1a24fb;
  color: #f8f7f3;
}
